$bg_color: #b3e5fc;

.upload-area{
    min-width: 15em;
    min-height: 12em;
    background-color: $bg_color;
    border: 2px dashed #0277bd;
    border-radius: 8px;
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
    margin-bottom: 1em;

    &--drag-over{
        background-color: #e1f5fe;
        border-color: #01579b;
    }

    &>div, &>h4{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    &__title{
        font-size: 1.2em;
        color: #263238;
        margin: 0;
    }

    &__description{
        font-size: 1em;
        color: #263238;
        padding: 0 10em;
    }

    .upload-area__btn{
        background-color: #3f50b5;

        &:hover, &:focus{
            background-color: #757ce8;
        }
    }
}